# Dependencias principales y Streamlit
streamlit
torch==2.1.2
torchvision==0.16.2
numpy<2.0
openmim
mmengine
importlib-metadata

# Dependencias de build de mmaction2
decord>=0.4.1
einops
matplotlib
opencv-contrib-python
Pillow
scipy

# Dependencias opcionales de mmaction2
av>=9.0
future
imgaug
librosa
lmdb
moviepy
openai-clip
packaging
pims
PyTurboJPEG
soundfile
tensorboard
wandb

# MMCV (versión CPU para PyTorch 2.1.2)
--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch2.1.0/index.html
mmcv==2.1.0
